*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:cursive;
}

body,html{
    width: 100%;
    height: 100%;
}

.contenedor{
    width: 100%;
    height: 100%;
    padding: 6% 15% 6% 15%;
    background-image: url(../img/fondo.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

#caja1{
    display: flex;
    flex-flow:wrap;
}

.redes{
    width: 100%;
    height: 6%;
    margin: 2% 0% 0% 0%;
}

.redes img{
    
    width: 3em;
    height: 3em;
    margin: 0% 4% 0% 0%;
}

#paso{
    margin: 25% 0% 0% 0%;
    width: 80%;
    height: 40%;
    float: right;
    color: white;
}

#paso ul{
    list-style: none;
}

#pasop{
    margin: 12% 0% 0% 0%;
    width: 80%;
    height: 40%;
    color: white;
    display: none;
}

#pasop ul{
    list-style: none;
}

@media only screen and (max-width:1024px) 
{
    
  
   
}
@media only screen and (max-width:1200px) 
{
  #paso{
        margin: 60% 0% 0% 0%;
    }  
}
@media only screen and (max-width:500px) 
{
    .contenedor{
        font-size: 15.9px;
    }
    #paso{
        display: none;
    }
    
    #pasop{
        display: block;
    }
}